*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: relative;
}
header{
    width: 100%;
    height: 6.9rem;
    background: -webkit-linear-gradient(top, #3bbcff,#47e9ff);
    position: relative;
    overflow: hidden;
}
header h1{
    width: 100%;
    height: .29rem;
    color: #fff;
    font-size: .25rem;
    line-height: .29rem;
    margin: .28rem auto 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: normal;
}
header h1 i,h1 span{
    margin-right: .15rem;
}
header h1 span:last-child{
    margin-right: 0;

}
.prompt{
    position: absolute;
    top: .9rem;
    left: .15rem;
    background: #f1ab62;
    height: .68rem;
    width: 1.3rem;
    border-radius: .1rem;
    padding: .1rem;
    overflow: hidden;
}
.prompt div:first-child{
    width: .5rem;
    height: .2rem;
    line-height: .2rem;
    font-size: .05rem;
    color: #fff;
    margin: 0 auto;
}
.prompt div:last-child{
    width: 100%;
    height: .21rem;
    line-height: .21rem;
    font-size: .08rem;
    color: #fff;
    margin: 0 auto;
    margin-top:.03rem ;
    text-align: center;
}
.headerj{
    display: block;
    position: absolute;
    width: .35rem;
    height: .41rem;
    right: .17rem;
    top:.2rem
}
header h2{
    height: .7rem;
    width: 100%;
    margin: 1.1rem auto 0 auto;
    color: white;
    font-weight: normal;
    font-size: .7rem;
    text-align: center;
    line-height: .7rem;
}
header h3{
    margin-top: .2rem;
    color: white;
    width: 100%;
    height: .32rem;
    font-size: .3rem;
    text-align: center;
    line-height: .32rem;
    font-weight: normal;
}
header h4{
    margin-top: .15rem;
    display: flex;
    width: 100%;
    height: .22rem;
    font-size:.21rem;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
header h4 div:first-child{
    margin-right: .07rem;
}
header h5{
    width: 100%;
    margin-top: .64rem;
    color: white;
    height: .23rem;
    font-size: .23rem;
    text-align: center;
    line-height: .23rem;
    font-weight: normal;
}
.headerb{
    display: block;
    width: 100%;
    height: 1.7rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box{
    width: 100%;
    height: 1.48rem;
    overflow: hidden;
    display: flex;
}
.box>div{
    height:.7rem ;
    width: 50%;
    margin: .35rem 0;
    border-right: 0.02rem solid #e4e4e4;
    padding: 0 .28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box>div:last-child{
    border-right:none;
}

.today-inner{
    width: 100%;
    height: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .18rem;
    color: black;
}
.today-inner span{
    width: auto;
    height: 100%;
    font-size: .18rem;
}
.today-inner img{
    width: .32rem;
    height: .32rem;
    display: block;
}
.break-up{
    width: 100%;
    height: .16rem;
    border-top:.01rem solid #e4e4e4 ;
    border-bottom:.01rem solid #e4e4e4 ;
    background: #f5f5f5;
}
.box2{
    width: 100%;
    height: 1.94rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;

}
.box2::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.box2-inner{
    width:1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .4rem .28rem;
}
.box2-inner p{
    width: 100%;
    height:.3rem ;
    font-size: .2rem;
    text-align: center;
    color: #a5a5a5;
    line-height: .3rem;
}
.box2-inner img{
    width: .32rem;
    height: .32rem;
    display: block;
}
.box2-inner p:last-child{
    color: #333;
}
/*一周天气变化*/
.box3{
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x:scroll ;
    white-space: nowrap;
}
.box3::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.box3 li{
    height: 100%;
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .3rem .15rem;
    align-items: center;
    color: #333;
}
.box3 li:first-child .top span{
    color: #888;
}
.box3 li:first-child .floor span{
    color: #888;
}
.box3 li:first-child .top img{
    opacity: .6;
}
.box3 li:first-child .floor img{
    opacity: .6;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}
.top span{
    width: 100%;
    font-size: .2rem;

    text-align: center;

}
.top span:nth-child(1){
     margin-bottom: .08rem;
    color: #888;
}
.top span:nth-child(2){
    margin-bottom: .17rem;
    font-size: .08rem;
    color: #888;
}
.top span:nth-child(3){
    margin-bottom: .25rem;
}
.top img{
    width: .32rem;
    height: .32rem;
    display: block;
    margin-bottom: .25rem;

}
.floor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.floor span{
    width: 100%;
    font-size: .2rem;
    text-align: center;
}
.floor span:nth-child(1){
    margin-bottom: .25rem;
}
.floor span:nth-child(3){
    margin-bottom: .17rem;
}
.floor span:nth-child(4){
    margin-bottom: .08rem;
    color: #888;
}
.floor span:nth-child(5){

    color: #888;
}
.floor img{
    width: .32rem;
    height: .32rem;
    display: block;
    margin-bottom: .17rem;
}
.box4{
    width: 100%;
    height: 2.72rem;
}
.box4 ul{
    width: 100%;
    height: 50%;
    display: flex;
}
.first li{
    width: 25%;
    height: 100%;
    padding: .2rem;
    border-right:.01rem solid #e4e4e4 ;
    border-bottom:.01rem solid #e4e4e4 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.first li:last-child{
    border-right: none;
}
.first li i{
    width: 100%;
    font-size: .3rem;
    color: #c1a4e0;
    text-align: center;
}
.first li span:nth-child(2){
    color: #434343;
    font-size: .2rem;
    width: 100%;
    text-align: center;
}
.first li span:nth-child(3){
    color: #a0a0a0;
    font-size: .18rem;
    width: 100%;
    text-align: center;
}
.first li:nth-child(2) i{
    color: #ecc7ca;
}
.first li:nth-child(3) i{
    color: #dbada0;
}
.first li:nth-child(4) i{
    color: #dfc79c;
}
.second li{
    width: 25%;
    height: 100%;
    padding: .2rem;
    border-right:.01rem solid #e4e4e4 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.second li:last-child{
    border-right: none;
}
.second li i{
    width: 100%;
    font-size: .3rem;
    color: #e6d99d;
    text-align: center;
}
.second li span:nth-child(2){
    color: #434343;
    font-size: .2rem;
    width: 100%;
    text-align: center;
}
.second li span:nth-child(3){
    color: #a0a0a0;
    font-size: .18rem;
    width: 100%;
    text-align: center;
}
.second li:nth-child(2) i{
    color: #b5e6a8;
}
.second li:nth-child(3) i{
    color: #a3dfd4;
}
.second li:nth-child(4) i{
    color: #78909c;
}
footer{
    width: 100%;
    height: .57rem;
    text-align: center;
    line-height: .57rem;
    background: #f5f5f5;
    border-top:.01rem solid #e4e4e4;
    font-size: .18rem;
    color: #b2b2b2;

}
/*隐藏页面*/
.hidden{
    width: 100%;
    height: 13.34rem;
    position: absolute;
    background: white;
    left: 0;
    top: -13.34rem;
    overflow: hidden;
    overflow-y: scroll;
}
.hidden-top{
    width: 100%;
    height: .75rem;
    padding: .22rem .17rem .11rem .17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom:.01rem solid #e4e4e4 ;
}
.hidden-top input{
    width: 4.33rem;
    padding-left: .45rem;
    background: #f2f2f2;
    color: #808080;
    border-radius: .35rem;
    outline: none;
    border: none;
}
.hidden-top i{
   color: #9c9c9c;
    position: absolute;
    top: .3rem;
    left: .32rem;
    font-size: .2rem;
}
.hidden-top span{
    color: #656565;
    font-size: .2rem;
}
.hidden section{
    width: 100%;
    height: auto;
    margin-top: .21rem;
    margin-bottom: .11rem;
    padding: 0 .17rem;
}
.stop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .18rem;
}
.stop h2{
    font-size: .23rem;
    color: #505050;
    font-weight: normal;
}
.stop i{
    color: #505050;
    font-size: .2rem;
}
.some{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.some p{
    width: 30%;
    height: .4rem;
    background: #f2f2f2;
    color: #505050;
    text-align: center;
    line-height: .4rem;
    border-radius: .35rem;
    font-size: .21rem;
    margin-bottom: .15rem;
}
